.bread-div{
    padding: .5rem;
    border-bottom:1px solid #eee;
    background-color: #e1f0ff;
}
.detailed-title{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}
.center{
    text-align: center;
}
.detailed-content{
    padding: 1.3rem;
    font-size: 1rem;
}
pre{
    display: block;
    background-color:#f3f3f3;
     padding: .5rem !important;
     overflow-y: auto;
     font-weight: 300;
     font-family: Menlo, monospace;
     border-radius: .3rem;
}
/* 代码块 */
code {
    margin: 0 5px;
    padding: 2px 5px;
    background-color: #ffe0e0;
    color: #ff502c;
    border-radius: 5px;
  }
  
  /* 代码块 */
  pre > code {
      display: block;
      padding: 10px;
      margin: 10px 0;
      background-color: #333;
      border-radius: 5px;
      overflow-y: auto;
      color: #FFF;
      font-family: Menlo, monospace;
  }

.title-anchor{
    color:#888 !important;
    padding:4px !important;
    margin: 0rem !important;
    height: auto !important;
    line-height: 1.2rem !important;
    font-size: .7rem !important;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.active{
    color:rgb(30, 144, 255) !important;
}
.nav-title{
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);

}
.article-menu{
    font-size:12px;
}
iframe{
    height: 34rem;
}
.detailed-content  img{
    width: 100%;
    border:1px solid #f3f3f3;
}
.title-level3{
    display: none !important;
}
.ant-anchor-link-title{
    font-size: 12px !important;
}
.ant-anchor-wrapper{
    padding: 5px !important;
}
/* p标签的颜色 */
p { 
	color: #666;
}

ul {
  margin-bottom: 16px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

/* li 的项目符号在内侧，显示项目符号 */
ul > li {
   list-style: disc inside;
}

ol {
  font-size: 1rem;
}

ol > li {
   list-style: none;
}